* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fb;
    color: #172033;
}

/* NAVBAR */
nav {
    background: white;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #173b8f;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 18px;
    font-weight: 500;
}

/* HERO */
.hero {
    text-align: center;
    padding: 65px 20px;
    background: #eaf1ff;
}

.hero h1 {
    color: #173b8f;
    font-size: 38px;
    margin-bottom: 10px;
}

.hero h2 {
    margin-top: 45px;
    font-size: 27px;
}

.hero p {
    color: #555;
    margin: 12px 0;
}

/* SEARCH */
.search-box {
    display: flex;
    max-width: 600px;
    margin: 25px auto 0;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

button {
    border: none;
    padding: 14px 22px;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* CARDS */
.items {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.item-card {
    background: white;
    width: 320px;
    padding: 30px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.item-icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.item-card h3 {
    font-size: 23px;
    margin-bottom: 12px;
}

.item-card p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 18px;
}

/* FOOTER */
footer {
    background: #173b8f;
    color: white;
    text-align: center;
    padding: 22px;
    margin-top: 20px;
}

/* MOBILE */
@media (max-width: 600px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links a {
        margin: 0 6px;
        font-size: 13px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
    }

    .item-card {
        width: 100%;
    }
}
